{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "node": true,
  },
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "eslint:recommended",
    "next/core-web-vitals",
    "plugin:@next/next/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:jest/recommended",
    "plugin:jest/style",
    "plugin:jsx-a11y/recommended",
    "plugin:node/recommended",
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:testing-library/react",
    "prettier",
    // "prettier/react",
    // "prettier/@typescript-eslint",
  ],
  "globals": { "React": "writable", "JSX": true },
  "ignorePatterns": ["build", ".next", "node_modules", "dist"],
  // "overrides": [
  //   {
  //     "files": ["*.json", "*.json5", "*.jsonc"],
  //     "parser": "jsonc-eslint-parser",
  //   },
  // ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": { "jsx": true },
    "ecmaVersion": 2020,
    "sourceType": "module",
  },
  "plugins": [
    "@typescript-eslint",
    "jest",
    "prettier",
    "react",
    "testing-library",
  ],
  "root": true,
  "rules": {
    "@typescript-eslint/no-empty-interface": [
      "error",
      { "allowSingleExtends": true },
    ],
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": "*",
        "next": ["export", "interface", "type"],
      },
    ],
    "import/extensions": [
      "error",
      {
        // "ts": "ignorePackages", "json": "ignorePackages"
        "json": "ignorePackages",
        // "svg": "ignorePackages",
        // "scss": "ignorePackages",
        "ts": "ignorePackages",
        // "ttf": "ignorePackages",
      },
    ],
    "import/no-anonymous-default-export": [
      "error",
      {
        "allowArray": false,
        "allowArrowFunction": false,
        "allowAnonymousClass": false,
        "allowAnonymousFunction": false,
        "allowCallExpression": true,
        "allowLiteral": false,
        "allowObject": false,
      },
    ],
    "import/no-cycle": [2, { "ignoreExternal": true }],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "optionalDependencies": true,
        "peerDependencies": true,
        "includeInternal": true,
        "includeTypes": true,
      },
    ],
    // "import/no-unresolved": [2, { "ignore": ["."] }],
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error",
    "no-cond-assign": ["error", "except-parens"],
    "no-return-assign": [2, "except-parens"],
    "no-unused-vars": "warn",
    "node/no-unsupported-features/es-syntax": [
      "error",
      {
        "version": ">=8.0.0",
        "ignores": ["dynamicImport", "modules", "restSpreadProperties"],
      },
    ],
    "node/no-missing-import": "off",
    // "node/no-missing-require": [
    //   "error",
    //   {
    //     "allowModules": [],
    //     "resolvePaths": ["."],
    //     "tryExtensions": [".js", ".ts", ".jsx", ".tsx", ".json", ".node"],
    //   },
    // ],
    "prettier/prettier": "warn",

    "react/jsx-filename-extension": [1, { "extensions": [".ts", ".tsx"] }],
    "react/jsx-no-undef": "error",
  },
  "settings": {
    "react": { "version": "detect" },
    "jest": { "version": "detect" },
  },
}
