{
  "root": true,
  "env": {
    "browser": true,
    "es2020": true,
    "node": true,
    "commonjs": true
  },
  "extends": [
    "plugin:jest/recommended",
    "plugin:jest/style",
    "plugin:react/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:jsx-a11y/recommended",
    "plugin:react-hooks/recommended",
    "airbnb",
    "prettier"
  ],
  "parserOptions": {
    "ecmaFeatures": { "jsx": true },
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "plugins": ["react", "prettier", "jest"],
  "rules": {
    "import/no-unresolved": [2, { "ignore": ["tools"] }],
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error",
    "no-return-assign": [2, "except-parens"],
    "no-unused-vars": "warn",
    "prettier/prettier": "warn",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-no-undef": "error",
    "react/jsx-props-no-spreading": ["error", { "exceptions": ["Component"] }]
  },
  "settings": {
    "react": { "version": "detect" },
    "jest": { "version": "detect" }
  },
  "globals": { "React": "writable" }
}
